body {
  background-color: rgb(74, 23, 98);
  color           : white;
  text-align      : center;
}

.list-notes {
  padding: 10px
}

.list-notes div {
  margin-top: 5px;
  padding: 10px 5px;
  background-color: tomato;
}

.input-new-note input {
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px #fff;
  margin-right: 5px
}
